* {
   margin: 0%;
   
}

#header {
    background-image: linear-gradient(to right, rgb(67, 67, 255), rgb(0, 0, 204));
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

#citySearch {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 3px;
}