* {
   margin: 0%;
   justify-content: center;
   /* text-align: center; */
   
}

#header {
    background-image: linear-gradient(to right, rgb(57, 156, 255), rgb(0, 14, 204));
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
    
}

.fiveCard {
    background-color: rgba(58, 108, 255, 0.825);
    margin: 10px;
}

.searchHis {
    width: auto;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    display: block;

}

.row {
    display: flex;
    flex-wrap: wrap;
}